<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">New book</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalInsertRef.close()"
  ></button>
</div>
<div class="modal-body">

  <form searchForm="ngForm">

    <div class="form-group">
      <input type="text" class="form-control" required name="title" [(ngModel)]="title">
      <p class="error" [hidden]="title"> This input is required</p>
    </div>

  </form>

  <!--<button type="button" class="btn btn-secondary" (click)="modalInsertRef.close()">
    Close
  </button>-->
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalInsertRef.close()">
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="insertBook()">Add</button>
  </div>

<!---->